# Sourcing Open Data

## Importing Libraries & pickle file

In [1]:
import pandas as pd
import numpy as np
import os

## Dig Inn  Data

In [2]:
path = r'C:\Users\RUZANNA\OneDrive\Desktop\Careerfoundry\Final Project'

In [3]:
df_orders=pd.read_pickle(os.path.join(path, 'Data', 'Original Data', 'orders.pickle' ))

In [4]:
df_items = pd.read_pickle(os.path.join(path, 'Data', 'Original Data', 'items.pickle'))

In [5]:
df_restaurants = pd.read_pickle(os.path.join(path, 'Data', 'Original Data', 'restaurants.pickle'))

In [6]:
df_nutrition = pd.read_pickle(os.path.join(path, 'Data', 'Original Data','nutrition.pickle'))

## Checking dimensions of imported files

In [7]:
df_orders.shape

(2392366, 10)

In [8]:
df_restaurants.shape

(8, 7)

In [9]:
df_items.shape

(31, 3)

In [10]:
df_nutrition.shape

(41, 12)

In [11]:
df_orders.head()

,ORDER_ID,DATETIME,RESTAURANT_ID,TYPE,DRINKS,COOKIES,MAIN,BASE,SIDE_1,SIDE_2
0,O2226026,2018-12-07 19:17:45,R10001,PICKUP,2.0,2.0,NaN,NaN,NaN,NaN
1,O1279827,2018-07-14 21:23:43,R10006,IN_STORE,0.0,0.0,NaN,NaN,NaN,NaN
2,O689957,2018-04-12 13:14:42,R10002,PICKUP,0.0,2.0,I1,I7,I11,I8
3,O1497863,2018-08-21 18:14:23,R10007,IN_STORE,1.0,0.0,I1,I5,I10,I9
4,O1443303,2018-08-12 18:04:44,R10006,DELIVERY,0.0,0.0,I1,I6,I10,I11

In [12]:
df_orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2392366 entries, 0 to 2392365
Data columns (total 10 columns):
 #   Column         Dtype
---  ------         -----
 0   ORDER_ID       object
 1   DATETIME       datetime64[ns]
 2   RESTAURANT_ID  object
 3   TYPE           object
 4   DRINKS         float64
 5   COOKIES        float64
 6   MAIN           object
 7   BASE           object
 8   SIDE_1         object
 9   SIDE_2         object
dtypes: datetime64[ns](1), float64(2), object(7)
memory usage: 182.5+ MB

In [13]:
df_restaurants

,RESTAURANT_ID,NAME,ADDRESS,LAT,LONG,OPENING_DATE,DELIVERY_START
0,R10001,Columbia,"2884 Broadway, New York, NY 10025",40.811470,-73.961230,2014-08-09,2017-01-01
1,R10002,Midtown,"1379 6th Ave, New York, NY 10019",40.763640,-73.977960,2013-03-19,2018-05-01
2,R10003,Bryant Park,"70 W 40th St, New York, NY 10018",40.752911,-73.983498,2013-05-21,2018-05-01
3,R10005,Flatiron,"40 W 25th St, New York, NY 10010",40.743600,-73.991070,2013-11-14,2016-03-05
4,R10004,NYU,"109 Macdougal St, New York, NY 10012",40.729930,-74.000820,2014-01-10,2017-01-01
5,R10006,Upper East Side,"1045 Lexington Ave, New York, NY 10021",40.772010,-73.960780,2014-05-29,2017-08-02
6,R10007,Upper West Side,"2140 Broadway, New York, NY 10023",40.775430,-73.982050,2015-02-02,2017-08-02
7,R10008,Williamsburg,"45 S 3rd St, Brooklyn, NY 11249",40.713749,-73.965782,2015-10-12,2017-01-01

In [14]:
df_items.head()

  ITEM_ID                               ITEM_NAME ITEM_TYPE
0      I0              Charred Chicken Marketbowl     Mains
1      I1              Spicy Meatballs Marketbowl     Mains
2      I2         Grilled Organic Tofu Marketbowl     Mains
3      I3         Herb Roasted Chicken Marketbowl     Mains
4      I4  Roasted Wild Alaskan Salmon Marketbowl     Mains

In [15]:
df_nutrition.head()

,name,serving,calories,totalfat,satfat,transfat,chol,sodium,carbs,fiber,sugars,protein
0,Charred Chicken Marketbowl,4.00 oz,232,13g,2g,0g,134mg,302mg,1g,0g,0g,25g
1,Spicy Meatballs Marketbowl,7.35 oz,227,7g,0g,0g,50mg,1013mg,22g,4g,7g,14g
2,Grilled Organic Tofu Marketbowl,5.00 oz,283,23g,2g,0g,0mg,419mg,9g,1g,3g,11g
3,Herb Roasted Chicken Marketbowl,4.50 oz,180,6g,0g,0g,67mg,427mg,0g,0g,0g,22g
4,Roasted Wild Alaskan Salmon Marketbowl,4.00 oz,146,6g,0g,0g,60mg,266mg,0g,0g,0g,20g

## Data Cleaning - Duplicated and Missing Values

In [16]:
# ORDER_ID column is the primary key, we will check duplicated records for that column
df_orders.ORDER_ID.duplicated().sum()

0

In [17]:

df_dups = df_orders[df_orders.duplicated()]

In [18]:
df_dups.shape

(0, 10)

In [19]:
# we have no cleaning issues with  restaurants data

In [20]:
df_items.ITEM_ID.duplicated().sum()

0

In [21]:
df_nutrition.name.duplicated().sum()

10

In [22]:
df_nutrition_cleaned= df_nutrition.drop_duplicates()

In [23]:
df_nutrition_cleaned.shape

(32, 12)

### Checking for missing values

In [24]:
df_orders.isna().sum()

ORDER_ID              0
DATETIME              0
RESTAURANT_ID         0
TYPE                  0
DRINKS                0
COOKIES               0
MAIN             121650
BASE             121650
SIDE_1           121650
SIDE_2           121650
dtype: int64

In [26]:
# checking for mixed type data

for col in df_orders.columns.tolist():
      weird = (df_orders[[col]].applymap(type) != df_orders[[col]].iloc[0].apply(type)).any(axis = 1)
      if len (df_orders[weird]) > 0:
        print (col)

MAIN
BASE
SIDE_1
SIDE_2

In [46]:
df_orders.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3304159 entries, 0 to 3304158
Data columns (total 19 columns):
 #   Column               Dtype
---  ------               -----
 0   ORDER_ID             object
 1   DATETIME             datetime64[ns]
 2   RESTAURANT_ID        object
 3   TYPE                 object
 4   DRINKS               float64
 5   COOKIES              float64
 6   MAIN                 object
 7   BASE                 object
 8   SIDE_1               object
 9   SIDE_2               object
 10  MAIN_NAME            object
 11  BASE_NAME            object
 12  SIDE_1_NAME          object
 13  SIDE_2_NAME          object
 14  RESTAURANT_NAME      object
 15  MAIN_NAME_CALORIS    object
 16  BASE_NAME_CALORIS    object
 17  SIDE_1_NAME_CALORIS  object
 18  SIDE_2_NAME_CALORIS  object
dtypes: datetime64[ns](1), float64(2), object(16)
memory usage: 504.2+ MB

In [49]:
#df_orders['mix'] = df_orders['mix'].astype('str')
df_orders['MAIN']= df_orders['MAIN'].astype('str')

In [50]:
for col in df_orders.columns.tolist():
      weird = (df_orders[[col]].applymap(type) != df_orders[[col]].iloc[0].apply(type)).any(axis = 1)
      if len (df_orders[weird]) > 0:
        print (col)

MAIN_NAME
BASE_NAME
SIDE_1_NAME
SIDE_2_NAME
MAIN_NAME_CALORIS
BASE_NAME_CALORIS
SIDE_1_NAME_CALORIS
SIDE_2_NAME_CALORIS

In [27]:
df_items.isna().sum()

ITEM_ID      0
ITEM_NAME    0
ITEM_TYPE    0
dtype: int64

In [28]:
df_nutrition_cleaned.isna().sum()

name        0
serving     0
calories    0
totalfat    0
satfat      0
transfat    0
chol        0
sodium      0
carbs       0
fiber       0
sugars      0
protein     0
dtype: int64

In [29]:
df_orders[df_orders.MAIN.isnull()].head()

,ORDER_ID,DATETIME,RESTAURANT_ID,TYPE,DRINKS,COOKIES,MAIN,BASE,SIDE_1,SIDE_2
0,O2226026,2018-12-07 19:17:45,R10001,PICKUP,2.0,2.0,NaN,NaN,NaN,NaN
1,O1279827,2018-07-14 21:23:43,R10006,IN_STORE,0.0,0.0,NaN,NaN,NaN,NaN
36,O570740,2018-03-26 13:50:59,R10008,IN_STORE,0.0,1.0,NaN,NaN,NaN,NaN
88,O1435661,2018-08-11 12:03:27,R10008,IN_STORE,0.0,0.0,NaN,NaN,NaN,NaN
118,O567217,2018-03-25 19:35:54,R10001,IN_STORE,0.0,1.0,NaN,NaN,NaN,NaN

In [30]:
# Replace missing mains with the words "No main", "No base", "No side_1", "No side_2" in orders file
df_orders['MAIN'] = df_orders.MAIN.fillna('No main')
df_orders['BASE'] = df_orders.BASE.fillna('No base')
df_orders['SIDE_1'] = df_orders.SIDE_1.fillna('No side_1')
df_orders['SIDE_2'] = df_orders.SIDE_2.fillna('No side_2')

In [31]:
df_orders.isna().sum()

ORDER_ID         0
DATETIME         0
RESTAURANT_ID    0
TYPE             0
DRINKS           0
COOKIES          0
MAIN             0
BASE             0
SIDE_1           0
SIDE_2           0
dtype: int64

## Merging data

In [32]:
# merging df_items with df_orders to add the name of the items
item_columns = ['MAIN', 'BASE', 'SIDE_1', 'SIDE_2']

for c in item_columns:
    df_orders= pd.merge( df_orders,
                          df_items[['ITEM_ID', 'ITEM_NAME']].rename(columns = {'ITEM_ID':c, 'ITEM_NAME':c+'_NAME'}),
                          on = c,
                          how = 'left',
                          validate = 'many_to_one' )

In [33]:
df_orders.head()

,ORDER_ID,DATETIME,RESTAURANT_ID,TYPE,DRINKS,COOKIES,MAIN,BASE,SIDE_1,SIDE_2,MAIN_NAME,BASE_NAME,SIDE_1_NAME,SIDE_2_NAME
0,O2226026,2018-12-07 19:17:45,R10001,PICKUP,2.0,2.0,No main,No base,No side_1,No side_2,NaN,NaN,NaN,NaN
1,O1279827,2018-07-14 21:23:43,R10006,IN_STORE,0.0,0.0,No main,No base,No side_1,No side_2,NaN,NaN,NaN,NaN
2,O689957,2018-04-12 13:14:42,R10002,PICKUP,0.0,2.0,I1,I7,I11,I8,Spicy Meatballs Marketbowl,Farro with Summer Vegetables,Charred Broccoli with Lemon,Cauliflower with Garlic and Parmesan
3,O1497863,2018-08-21 18:14:23,R10007,IN_STORE,1.0,0.0,I1,I5,I10,I9,Spicy Meatballs Marketbowl,Classic Brown Rice,Roasted Sweet Potatoes,Jasper Hill Mac & Cheese
4,O1443303,2018-08-12 18:04:44,R10006,DELIVERY,0.0,0.0,I1,I6,I10,I11,Spicy Meatballs Marketbowl,Farm Greens with Mint,Roasted Sweet Potatoes,Charred Broccoli with Lemon

In [34]:
 df_orders = pd.merge( df_orders, df_restaurants[['RESTAURANT_ID','NAME']], on = 'RESTAURANT_ID', how = 'left')

In [35]:
df_orders.head()

,ORDER_ID,DATETIME,RESTAURANT_ID,TYPE,DRINKS,COOKIES,MAIN,BASE,SIDE_1,SIDE_2,MAIN_NAME,BASE_NAME,SIDE_1_NAME,SIDE_2_NAME,NAME
0,O2226026,2018-12-07 19:17:45,R10001,PICKUP,2.0,2.0,No main,No base,No side_1,No side_2,NaN,NaN,NaN,NaN,Columbia
1,O1279827,2018-07-14 21:23:43,R10006,IN_STORE,0.0,0.0,No main,No base,No side_1,No side_2,NaN,NaN,NaN,NaN,Upper East Side
2,O689957,2018-04-12 13:14:42,R10002,PICKUP,0.0,2.0,I1,I7,I11,I8,Spicy Meatballs Marketbowl,Farro with Summer Vegetables,Charred Broccoli with Lemon,Cauliflower with Garlic and Parmesan,Midtown
3,O1497863,2018-08-21 18:14:23,R10007,IN_STORE,1.0,0.0,I1,I5,I10,I9,Spicy Meatballs Marketbowl,Classic Brown Rice,Roasted Sweet Potatoes,Jasper Hill Mac & Cheese,Upper West Side
4,O1443303,2018-08-12 18:04:44,R10006,DELIVERY,0.0,0.0,I1,I6,I10,I11,Spicy Meatballs Marketbowl,Farm Greens with Mint,Roasted Sweet Potatoes,Charred Broccoli with Lemon,Upper East Side

In [36]:
df_orders = df_orders.rename(columns= {'NAME': 'RESTAURANT_NAME'})

In [37]:
df_orders.head()

,ORDER_ID,DATETIME,RESTAURANT_ID,TYPE,DRINKS,COOKIES,MAIN,BASE,SIDE_1,SIDE_2,MAIN_NAME,BASE_NAME,SIDE_1_NAME,SIDE_2_NAME,RESTAURANT_NAME
0,O2226026,2018-12-07 19:17:45,R10001,PICKUP,2.0,2.0,No main,No base,No side_1,No side_2,NaN,NaN,NaN,NaN,Columbia
1,O1279827,2018-07-14 21:23:43,R10006,IN_STORE,0.0,0.0,No main,No base,No side_1,No side_2,NaN,NaN,NaN,NaN,Upper East Side
2,O689957,2018-04-12 13:14:42,R10002,PICKUP,0.0,2.0,I1,I7,I11,I8,Spicy Meatballs Marketbowl,Farro with Summer Vegetables,Charred Broccoli with Lemon,Cauliflower with Garlic and Parmesan,Midtown
3,O1497863,2018-08-21 18:14:23,R10007,IN_STORE,1.0,0.0,I1,I5,I10,I9,Spicy Meatballs Marketbowl,Classic Brown Rice,Roasted Sweet Potatoes,Jasper Hill Mac & Cheese,Upper West Side
4,O1443303,2018-08-12 18:04:44,R10006,DELIVERY,0.0,0.0,I1,I6,I10,I11,Spicy Meatballs Marketbowl,Farm Greens with Mint,Roasted Sweet Potatoes,Charred Broccoli with Lemon,Upper East Side

In [38]:
df_nutrition_cleaned.head()

,name,serving,calories,totalfat,satfat,transfat,chol,sodium,carbs,fiber,sugars,protein
0,Charred Chicken Marketbowl,4.00 oz,232,13g,2g,0g,134mg,302mg,1g,0g,0g,25g
1,Spicy Meatballs Marketbowl,7.35 oz,227,7g,0g,0g,50mg,1013mg,22g,4g,7g,14g
2,Grilled Organic Tofu Marketbowl,5.00 oz,283,23g,2g,0g,0mg,419mg,9g,1g,3g,11g
3,Herb Roasted Chicken Marketbowl,4.50 oz,180,6g,0g,0g,67mg,427mg,0g,0g,0g,22g
4,Roasted Wild Alaskan Salmon Marketbowl,4.00 oz,146,6g,0g,0g,60mg,266mg,0g,0g,0g,20g

In [39]:
# merging df_orders with df_nutrion to define the main questions
item_columns = ['MAIN_NAME', 'BASE_NAME', 'SIDE_1_NAME', 'SIDE_2_NAME']

for c in item_columns:
    df_orders = pd.merge( df_orders,
                          df_nutrition_cleaned[['name', 'calories']].rename(columns = {'name':c, 'calories':c+'_CALORIS'}),
                          on = c,
                          how = 'left', validate= 'many_to_many')

In [40]:
df_orders.head()

,ORDER_ID,DATETIME,RESTAURANT_ID,TYPE,DRINKS,COOKIES,MAIN,BASE,SIDE_1,SIDE_2,MAIN_NAME,BASE_NAME,SIDE_1_NAME,SIDE_2_NAME,RESTAURANT_NAME,MAIN_NAME_CALORIS,BASE_NAME_CALORIS,SIDE_1_NAME_CALORIS,SIDE_2_NAME_CALORIS
0,O2226026,2018-12-07 19:17:45,R10001,PICKUP,2.0,2.0,No main,No base,No side_1,No side_2,NaN,NaN,NaN,NaN,Columbia,NaN,NaN,NaN,NaN
1,O1279827,2018-07-14 21:23:43,R10006,IN_STORE,0.0,0.0,No main,No base,No side_1,No side_2,NaN,NaN,NaN,NaN,Upper East Side,NaN,NaN,NaN,NaN
2,O689957,2018-04-12 13:14:42,R10002,PICKUP,0.0,2.0,I1,I7,I11,I8,Spicy Meatballs Marketbowl,Farro with Summer Vegetables,Charred Broccoli with Lemon,Cauliflower with Garlic and Parmesan,Midtown,227,170,177,90
3,O1497863,2018-08-21 18:14:23,R10007,IN_STORE,1.0,0.0,I1,I5,I10,I9,Spicy Meatballs Marketbowl,Classic Brown Rice,Roasted Sweet Potatoes,Jasper Hill Mac & Cheese,Upper West Side,227,160,140,361
4,O1497863,2018-08-21 18:14:23,R10007,IN_STORE,1.0,0.0,I1,I5,I10,I9,Spicy Meatballs Marketbowl,Classic Brown Rice,Roasted Sweet Potatoes,Jasper Hill Mac & Cheese,Upper West Side,227,160,170,361

In [41]:
df_orders.shape

(3304159, 19)

In [42]:
df_orders['TYPE'].value_counts()

IN_STORE    2374727
PICKUP       552461
DELIVERY     376971
Name: TYPE, dtype: int64

In [43]:
df_orders.to_pickle(os.path.join(path, 'Data','Prepared Data', 'orders.pkl'))